<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explore</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-header name="Explore"></app-header>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button 
          (click)="toggleInterestFilter()" 
          [color]="filterByInterests ? 'primary' : 'gray'"
          fill="outline">
          
          <ion-icon name="funnel" slot="start"></ion-icon>
          <span *ngIf="!filterByInterests">Filter by interests</span>
          <span *ngIf="filterByInterests">Filtering by interests</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <app-event-swipe
    *ngIf="!loading"
    [events]="visibleActivities"
    (swiped)="handleSwipe($event)">
  </app-event-swipe>

</ion-content>
