<div class="ion-page">
    <ion-header class="keep-header" [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button fill="clear" routerLink="/tabs/friends" aria-label="Back to chat lists">
                    <ion-icon name="chevron-back"></ion-icon>
                </ion-button>
                <!-- <ion-back-button defaultHref="/tabs/friends"></ion-back-button> -->
            </ion-buttons>
            
            <ion-title>{{ roomName }}</ion-title>

            <ion-buttons slot="end"></ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <div class="messages">
            <div *ngFor="let msg of messages" class="message"
                [class.my-message]="msg.sender?.id === currentUserId || msg.sender === currentUserId">
                <div class="bubble">
                    <div class="sender-name">{{ msg.sender?.full_name || msg.sender?.username }}</div>
                    {{ msg.content }}
                </div>
                <div class="time">{{ msg.created_at | date:'shortTime' }}</div>
            </div>
        </div>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <div class="input-bar">
                <ion-input [(ngModel)]="newMessage" placeholder="Type a message" (keyup.enter)="sendMessage()">
                </ion-input>
                <ion-button (click)="sendMessage()" fill="clear">
                    <ion-icon name="send"></ion-icon>
                </ion-button>
            </div>
        </ion-toolbar>
    </ion-footer>
</div>