.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  align-self: flex-start;
  max-width: 80%;


  .bubble {
    background: var(--ion-color-quaternary-tint);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    font-size: 1.3em;
    color: var(--ion-color-light);
  }

  .sender-name {
    font-size: 0.6em;
    color: var(--ion-color-light);
    margin-bottom: 2px;
  }
  .time {
    font-size: 0.8em;
    margin-top: 2px;
  }

  &.my-message {
    align-self: flex-end;

    .bubble {
      background: var(--ion-color-primary);
      color: var(--ion-color-dark);

      .sender-name {
        color: var(--ion-color-dark);
      }
    }
    .time{
      text-align: right;
      font-size: 0.8em;
      margin-top: 2px;
    }
  }
}

.input-bar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;

  ion-input {
    flex: 1;
  }

  ion-button {
    flex-shrink: 0;
  }
}