<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="../../../assets/ActiFind_Logo.png" alt="ActiFind Logo" style="height: 150px;">
  </div>

  <form (ngSubmit)="login()" [formGroup]="form">
    <!-- Email field and validation -->
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" style="color: var(--ion-color-danger); margin-bottom: 4px;">
      <div *ngIf="form.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="form.get('email')?.errors?.['email']">Email must be a valid email address.</div>
    </div>
    <ion-item>
      <ion-label position="stacked" >Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="you@example.com"></ion-input>
    </ion-item>

    <!-- Password field and validation -->
    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" style="color: var(--ion-color-danger); margin-bottom: 4px;">
      <div *ngIf="form.get('password')?.errors?.['required']">Password is required.</div>
      <div *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
    </div>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" placeholder="••••••"></ion-input>
    </ion-item>

    <div style="margin-top: 16px; display: flex; gap: 8px; justify-content: center;">
      <ion-button  type="submit" [disabled]="loading || form.invalid" expand="block">Login</ion-button>
      <ion-button color="secondary" (click)="register()" [disabled]="loading || form.invalid" expand="block">Register</ion-button>
    </div>

    <div *ngIf="error" style="color: var(--ion-color-danger); margin-top: 8px;">{{ error }}</div>
  </form>
</ion-content>
