

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 80px;
}

img {
  max-width: 100%;
}
