

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

img {
  max-width: 100%;
}

ion-item {
  transition: border 0.2s;
  margin-bottom: 15px;
  border-radius: 5px;
}

ion-item:focus-within {
  border: 2px solid var(--ion-color-primary);
  border-radius: 12px;
}
