<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/tabs/create">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="updates" href="/tabs/updates">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Updates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
