<ion-tabs >
  <ion-tab-bar slot="bottom" class="navbar">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" name="bookmark" ></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="updates" href="/tabs/updates">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Updates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false" >
  <ion-fab-button tab="create" href="/tabs/create" class="create-button">
      <ion-icon name="add-outline" aria-hidden="true" size="large" class="create-icon"></ion-icon>
  </ion-fab-button>
</ion-fab>
