<ion-list lines="full">
  <ng-container *ngIf="items?.length; else empty">
    <ion-item *ngFor="let it of items; trackBy: trackById" button (click)="handleItemClick(it)" detail="true">
      <ion-icon [name]="it.icon" [color]="it.color" slot="start" size="large"></ion-icon>
      <ion-label>
        <h3>{{ it.title }}</h3>
        <p class="wrapped-text">{{ it.description }}</p>
        <p class="timestamp">{{ it.timestamp | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-template #empty>
    <div class="empty-state">
      <ion-icon name="checkmark-done-circle" color="medium"></ion-icon>
      <h2>You're all caught up!</h2>
    </div>
  </ng-template>
</ion-list>