<ng-container *ngIf="activeSegment === 'chats'">
  <ion-list lines="none">
    <ion-item *ngFor="let c of chats$ | async; trackBy: trackById" button (click)="openChat(c.id)">
      <ion-avatar slot="start" class="avatar">
        <div class="initials">{{ initials(c.name) }}</div>
      </ion-avatar>
      <ion-label>
        <h3>{{ c.name }}</h3>
        <p class="muted">{{ c.lastMessage }}</p>
      </ion-label>
      <div slot="end" class="meta">
        <div class="time">{{ c.time | date:'shortTime' }}</div>
        <ion-badge *ngIf="c.unread && c.unread > 0" color="danger">{{ c.unread }}</ion-badge>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openNewChat()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>